body {
  margin: 0;
  padding: 0;
  background-color: #dcdcdc;
}

.back {
  background-color: rgb(217, 236, 255);
  background-size: 100%;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.listyle {
  width: 700px;
  height: 200px;
  background: #ffebcd;
  padding-bottom: 20px;
  border-radius: 20px;
  list-style: none;
  padding-bottom: 50px;
  text-align: center;
}

.q {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.raz {
  all: unset;
  -moz-appearance: textfield;
  width: 3em;
  text-align: center;
}

.raz::-webkit-inner-spin-button {
  display: none;
}
.App {
  font-family: sans-serif;
  text-align: right;
  background-color: #a9e2f3;
  width: 350px;
}
.input {
  padding-top: 20px;
  margin-right: 50px;
}
.button {
  text-align: center;
  padding-top: 20px;
}
.active {
  margin: 0 auto;
  width: 120px;
  height: 30px;
  font-size: 30px;
  background: #fc0; /* Цвет фона */
  border: 2px solid #fff; /* Белая рамка */
  border-radius: 10px; /* Радиус скругления */
}
.content_li {
  text-align: center;
  list-style: none;
  font-size: 40px;
  background-color: #fff;
  margin-bottom: 30px;
  border: 2px solid #fff; /* Белая рамка */
  border-radius: 30px;
  width: 200px;
  height: 50px;
}

select {
  margin-top: 20px;
  margin-right: 50px;
  width: 150px;
}
